.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px;
}

label{
    font-weight: 500;
    font-size: 1rem;
}

input{
    border: 1px solid gray;
    outline: none;
    padding: 10px 12px;
    font-size: 1rem;
    border-radius: 5px;
}

input:hover{
    border: 1px solid gray;

}

input:focus{
    border: 1px solid #239ce2;
}
/* .body{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
} */